.ToDoItem {
  background-color: rgb(198, 148, 231);
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 1px 2px 5px 0px rgb(47, 40, 52);
  height: 3.2rem;
  width: 100%;
}
.ToDoItem:hover {
  box-shadow: 1px 2px 5px 1px black;
}

.ToDoItem p {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
}

.Delete-icon {
  cursor: pointer;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 2.5rem;
  color: rgb(117, 64, 64);
}

.ToDoItem-p--complete {
  text-decoration: line-through rgb(90, 2, 2);
  text-decoration-thickness: 0.2rem;
}