.ToDoItem {
  background-color: rgb(198, 148, 231);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 1px 2px 5px 0px rgb(47, 40, 52)
}
.ToDoItem:hover {
  box-shadow: 1px 2px 5px 1px black;
}

.ToDoItem-p {
  margin: 1rem 0 1rem 1rem;
  width: calc(100% - 120px);
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
}
.ToDoItem-p--complete {
  text-decoration: line-through rgb(114, 6, 6);
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.Icon-check {
  position: absolute;
  color: rgb(89, 79, 100);
  left: 1rem;
}

.Icon-check--active{
  color: green;
}

.Icon-delete {
  position: absolute;
  top: -1rem;
  right: 0;
}
.Icon-delete:hover {
  color: red;
}