.ToDoSearcher {
  background: rgb(248, 235, 255);
  border-radius: 2px;
  border: 2px solid rgb(27, 26, 26);
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 4rem;
  width: 40rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  color: black;
  box-shadow: 0px 5px 10px black;
}

.ToDoSearcher::placeholder {
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

.ToDoSearcher:focus  {
  outline-color: rgb(123, 0, 255);
}